{% extends 'base.html.twig' %}

{% block title %}User Management{% endblock %}

{% block body %}
    <h1>User Management</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>Town</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.userName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.birthdate|date('Y-m-d') }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.zipcode }}</td>
                    <td>{{ user.town }}</td>
                    <td>
                        <a href="{{ path('user_update', {'id': user.id}) }}">Edit</a>
                        <a href="{{ path('user_delete', {'id': user.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_create') }}">Create new user</a>
{% endblock %}